.dropdown-container {
    position: relative;
}

.dropdown__trigger {
    user-select: none;
    cursor: pointer;
}

.dropdown {
    background-color: var(--white);
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    min-width: 150px;
    box-shadow: 0 0 20px var(--black-a25);
    color: var(--black);
    z-index: 2;
}

.dropdown--full-width .dropdown,
.dropdown--right-overflow .dropdown,
.dropdown--left-overflow .dropdown {
    position: fixed;
    /* top: 0; should be set in the component */
    left: 0;
    right: 0;
}

.dropdown--right-overflow .dropdown {
    left: initial;
}

.dropdown--left-overflow .dropdown {
    right: initial;
}

.dropdown::before {
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    left: var(--dropdown-arrow-position);
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 8px 7px;
    border-bottom-color: var(--white);
}