.field {
    display: flex;
    align-items: center;
    padding-left: 20px;
    border: 1px solid var(--black-a20);
    border-radius: 10px;
}

.field-group:not(:first-child),
.field:not(:first-child) {
    margin-top: 20px;
}

.field:not(.field--error):focus-within,
.field:hover {
    border-color: var(--accent1);
}

.field--error {
    border-color: var(--error);
}

.field label {
    flex-shrink: 0;
    color: var(--black-a70);
}

.field:not(.field--error):focus-within label,
.field:hover label {
    color: var(--accent1);
}

.field--error label {
    color: var(--error);
}

.field [type="email"],
.field [type="text"],
.field [type="password"] {
    width: 100%;
    text-align: right;
    border: 0;
    outline: 0;
}