@import "css/dropdowns.css";
@import "css/inputFields.css";

:root {
    --white:     hsl(0, 0%, 100%); /* #FFF */
    --white-a70: hsla(0, 0%, 100%, 0.7);
    --white-a40: hsla(0, 0%, 100%, 0.4);

    --black:     hsl(222, 24%, 11%); /* #151922 */
    --black-a70: hsla(222, 24%, 11%, 0.7);
    --black-a50: hsla(222, 24%, 11%, 0.5);
    --black-a40: hsla(222, 24%, 11%, 0.4);
    --black-a25: hsla(222, 24%, 11%, 0.25);
    --black-a20: hsla(222, 24%, 11%, 0.2);
    --black-a10: hsla(222, 24%, 11%, 0.1);
    --black3:    hsl(223, 3%, 55%); /* #8A8C91 */

    --success: hsl(79, 54%, 51%); /* #9BC53D */
    --error:   hsl(0, 86%, 55%); /* #EF2C2C */

    --accent1:     hsl(279, 50%, 34%); /* #642C83 */
    --accent1-a70: hsla(279, 50%, 34%, 0.7);
    --accent1-a40: hsla(279, 50%, 34%, 0.4);
    --accent1-l90: hsl(279, 50%, 90%);
    --accent1-l95: hsl(279, 50%, 95%);

    --accent2: var(--error);
    --accent3: hsl(16, 100%, 50%); /* #FF4500 */

    --max-content-width: 1420px;
    --dropdown-arrow-position: calc(50% - 7px);

    /* --nav-height defined in AppNav.vue */

    /* Media breakpoints: 480px 650px */
}

* {
    box-sizing: border-box;
    outline-color: var(--accent1);
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--black3);
    border-radius: 4px;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--white);
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    color: var(--black);
}

.main {
    background: linear-gradient(to right, var(--accent3), var(--accent1));
}

input,
textarea,
button {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

button {
    background-color: var(--accent1);
    padding: 10px 20px;
    color: var(--white);
    border: 0;
    border-radius: 40px;
    cursor: pointer;
}

button.main {
    text-transform: uppercase;
    font-weight: 700;
}

@media all and (max-width: 480px) {
    button {
        padding: 7.5px 10px;
    }
}

a {
    text-decoration: none;
    color: var(--accent1);
}

a:hover {
    text-decoration: underline;
}

input {
    color: inherit;
}

[type="email"],
[type="text"],
[type="password"] {
    padding: 0 20px;
    height: 50px;
    border: 1px solid var(--black-a20);
    border-radius: 10px;
}

::placeholder {
    color: var(--black-a40);
}

p {
    margin: 0;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

img {
    width: 100%;
}

.max-content {
    max-width: var(--max-content-width);
}