:root {
    --white: hsl(0, 0%, 100%); /* #FFF */
    --white-a70: hsla(0, 0%, 100%, 0.7);
    --white-a40: hsla(0, 0%, 100%, 0.4);

    --black: hsl(222, 24%, 11%); /* #151922 */
    --black-a50: hsla(222, 24%, 11%, 0.5);

    --success: hsl(79, 54%, 51%); /* #9BC53D */
    --error: hsl(0, 86%, 55%); /* #EF2C2C */

    --accent1: hsl(279, 50%, 34%); /* #642C83 */
    --accent1-a70: hsla(279, 50%, 34%, 0.7);
    --accent1-a40: hsla(279, 50%, 34%, 0.4);

    --accent2: var(--error);
    --accent3: hsl(16, 100%, 50%); /* #FF4500 */

    --max-content-width: 1420px;
}

* {
    box-sizing: border-box;
    outline-color: var(--accent1);
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--white);
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    color: var(--black);
}

.main {
    background: linear-gradient(to right, var(--accent3), var(--accent1));
}

button {
    background-color: var(--accent1);
    padding: 10px 20px;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: var(--white);
    border: 0;
    border-radius: 40px;
    cursor: pointer;
}

button.main {
    text-transform: uppercase;
    font-weight: 700;
}

@media all and (max-width: 480px) {
    button {
        padding: 7.5px 10px;
    }
}

a {
    text-decoration: none;
    color: var(--accent1);
}